/******************************* do form! ugly: CSS DEMO 2.1 *******************************/

.formgen {
    
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    
    
}

.formgendiv {display: block;
float: left;
width: 50%;}

.formsubmit {
    clear: both;
}

.formgendiv2 {display: block;
float: left;
width: 50%;
padding-left: 25px;}
.formgen .formheadline {color: #2B84C6; font-weight: 300; font-size: 1.5em; margin-bottom: 0.5em;}
.formgen .formhinweis {color: #2B84C6; font-weight: 600; font-size: 1em; margin-bottom: 0.5em;}
.formgen .radioblock {margin-top: 1.5em;
margin-bottom: 1.5em;}

.formgen .radiofield {float: left;
width: 25%;
box-sizing: border-box;
padding: 10px;
color: #2B84C6;
border-box;
text-align: center;

}


.radiofield input[type="radio"] {
    display:none;
}

.radiofield label {
    display:block;
    text-align: center;
    padding:4px 11px;
    font-size:16px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.radiofield input[type="radio"]:checked + label, .radiofield label:hover {
   background-color: #eee;
   border-radius: 10px;
   color: #000;
}



.formgen .radioblock  label {  font-size: 1em; margin-bottom: 1em; border-bottom: 2px solid #2B84C6;padding-bottom: 10px; }

.formgen .radiofield  label { float: left; font-size: 1.5em; border: none ;}

.formgen .textradio .radiofield label { font-size: 0.9em; text-align: center; border: 1px solid #eee; border-radius: 10px;} 


.formgen .formtext {
    border: 1px solid #eee;
    background-color: #fff;
    color: #000;
    height: 30px;
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    clear: both;
    font-size: 18px;
    font-weight: 300;
    -moz-box-shadow: inset 0 0 2px #666;
    -webkit-box-shadow: inset 0 0 2px #666;
    box-shadow: inset 0 0 2px #666;
}

.formgen .formselect {
    border: 1px solid #8694A1;
    background-color: #fff;
    color: #000;
    height: 30px;
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    clear: both;
    font-size: 18px;
    font-weight: 300;

}

.forminfo {
    color: #900;
    font-size: 1.2em;
    display: block;
    padding-bottom: 15px;
}

.formgen textarea {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    clear: both;


}

.formgen label {margin-right: 20px;
font-size: 1em;
margin-bottom: 0.5em;


clear: both;
display: block;
}

.formgen label.formerror {
    color: #900;

}

.formgen label span {
    color: #414550;
}

.formgen input[type="text"]:focus, .formgen input[type="text"]:hover, .formgen textarea:focus, .formgen textarea:hover, .formgen input[type="text"]:focus, .formgen input[type="text"]:hover, .formgen textarea:focus, .formgen textarea:hover {
    background-color: #FFF;
}

.formgen input[type="submit"] {
    border: none;
    padding: 8px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.formgen input[type="submit"]:hover {
    color: #000;
    background-color: #fff;
}




/*//////////////////////////////////////////////////////////////////////////////*
/* Ende der Formulardefinition */
